# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
frontend/node_modules/
backend/node_modules/
frontend/.env
backend/.env
bakend/public/
backend/downloads/
backend/uploads/
backend/.env.local
backend/.env.development.local
backend/.env.test.local
backend/.env.production.local
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
myenv/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo
